@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: none;
  text-decoration: none;
  list-style: none;

  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #fbfbfb;
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;

  background-color: #fbfbfb;
  padding: 0.75rem 2.5rem 0 2.5rem;
}

nav #nav_bb {
  background-color: #1e1e1e;
  height: 1px;
  width: 100%;
}

nav #container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

nav #logo {
  font-weight: 700;
  font-style: normal;
}

nav ul {
  display: flex;
  gap: 2.75rem;
}

nav ul li a {
  font-weight: 500;
  color: #1e1e1e;
  transition: color 0.23s ease;
}

nav ul li a[href="#inicio"]:hover {
  color: #ddcc1b;
}

nav ul li a[href="#exatas"]:hover {
  color: #00e88f;
}

nav ul li a[href="#humanas"]:hover {
  color: #2496ff;
}

#inicio {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 32rem));
  grid-template-rows: repeat(auto-fit, min(1fr, 32rem));
  gap:1.5rem; 

  justify-items: center;
  align-content: start;

  align-items: center;
  justify-content: center;
  min-height: 100vh; 

  padding: 6rem 2.25rem 2.25rem 2.25rem;
}

#inicio > span {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
}

#inicio .info {
  width: 100%;
  aspect-ratio: 1/0.45;
  padding: 1.5rem;
}

#inicio .info span{
  font-weight: 700;
  font-size: 1.5rem;
}

#inicio .info p {
  font-weight: 500;
  margin-top: 1rem;
}

#inicio .info ul li{
  font-weight: 700;
  list-style-type: disc;
  margin-left: 1rem;
}

#inicio .info:nth-child(2) {
  background-color: #ffdd2c;
  border-radius: .75rem .75rem .75rem 2.5rem;
}

#inicio .info:nth-child(3) {
  background-color: #00E88F;
  border-radius: .75rem 2.5rem .75rem .75rem;
}
#inicio .info:nth-child(4) {
  background-color: #2496FF;
  color: #fff;
  border-radius: 2.5rem .75rem .75rem .75rem;
}

.acesso_olimpiadas {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 6rem 2rem 2rem 2rem;
  width: 100%;
  min-height: 100vh;
  
}

.acesso_olimpiadas h1{
  font-size: 3rem;
}

.acesso_olimpiadas section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.acesso_olimpiadas section .linha{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; 
  gap: 2rem;
}

.acesso_olimpiadas section .olimpiadas{
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 12rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: crimson;
}

.acesso_olimpiadas section .olimpiadas button{
  border: none;
}

.acesso_olimpiadas section .olimpiadas a{
  display: block;
  padding: 0.5rem 1rem;
  
  border: none;

  font-weight: 500;
  color: #fff;
}

.acesso_olimpiadas section .olimpiadas hgroup h3{
  font-weight: 700;
  
}
.acesso_olimpiadas section .olimpiadas hgroup h4{
  font-weight: 500;
}

#exatas {
  background-color: #00E88F;
}

#humanas{
  background-color: #1e1e1e;
}

@media (max-width: 600px){
    nav #container {
      flex-direction: column;
      gap: 1rem;
    }

    #inicio > span {
      font-size: 3.5rem;
    }
}

@media (min-width: 1500px){
  #inicio {
      grid-template-columns: repeat(2, min(100%, 32rem));
  }
}