@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: none;
  text-decoration: none;
  list-style: none;

  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #fbfbfb;
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;

  background-color: #fbfbfb;
  padding: 0.75rem 2.5rem 0 2.5rem;
}

nav #nav_bb {
  background-color: #1e1e1e;
  height: 1px;
  width: 100%;
}

nav #container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

nav #logo {
  font-weight: 700;
  font-style: normal;
}

nav ul {
  display: flex;
  gap: 3.75rem;
}

nav ul li a {
  font-weight: 500;
  color: #1e1e1e;
  transition: color 0.23s ease;
}

nav ul li a[href="#inicio"]:hover {
  color: #ddcc1b;
}

nav ul li a[href="#exatas"]:hover {
  color: #00e88f;
}

nav ul li a[href="#humanas"]:hover {
  color: #2496ff;
}

#inicio {
  display: grid;
  grid-template-columns: repeat(2, 32rem);
  grid-template-rows: repeat(2,  16rem);
  gap: 1.5rem;

  justify-content: center;
  align-items: center;

  max-height: 100vh;

  padding: 2.25rem 2.25rem 0 2.25rem;
}

#inicio > span {
  font-size: 5rem;
  font-weight: 900;
  justify-self: end;
}

#inicio .info {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

#inicio .info span{
  font-weight: 700;
  font-size: 1.5rem;
}

#inicio .info p {
  font-weight: 500;
  margin-top: 1rem;
}

#inicio .info ul li{
  font-weight: 700;
  list-style-type: disc;
  margin-left: 1rem;
}

#inicio .info:nth-child(2) {
  background-color: #ffdd2c;
  border-radius: .75rem .75rem .75rem 2.5rem;
}

#inicio .info:nth-child(3) {
  background-color: #00E88F;
  border-radius: .75rem 2.5rem .75rem .75rem;
}
#inicio .info:nth-child(4) {
  background-color: #2496FF;
  color: #fff;
  border-radius: 2.5rem .75rem .75rem .75rem;
}
